div {

    border: 5px solid black;
}

#third>p {
    visibility: hidden;
}

h1 {
    visibility: hidden;
}

body * {
    visibility: hidden;
}

img {
    visibility: visible;
}

body * {
    visibility: visible;
}